<div class="container-fluid">
    <div class="container-fluid">
        <div class="flexThis">
            <h1>The Cousin Memory Game</h1>
            <h1>Found Pairs: {{$ctrl.pairs}}</h1>
            <bbutton type="button" class="btn btn-danger btn-lg" ng-click=$ctrl.resetGame()>RESET GAME</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="flexThis text-center ">

            <div class="flip" ng-repeat="card in $ctrl.deck track by $index" ng-show="!$ctrl.victory">
                <div class="card" ng-class="{'flipped':card.show}" ng-click="$ctrl.selectCard(card)">
                    <div class="face front">
                        <!--Do I want a picture on the front of the card???-->
                        <!--<img src="assets/img/cards/dwarf-face.png" style="background-color: white;" height="120" alt="Logo">-->
                        <h2>Cousin Memory</h2>
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </div>
                    <div class="face back">
                        <h3>{{card.name}}</h3>
                        <img ng-src="{{card.url}}" height="180" alt="{{card.name}}">
                    </div>
                </div>
            </div>

            <div class="alert alert-success" ng-show="$ctrl.victory">
                <h1>YOU WON! It took you {{$ctrl.attempts}} to find all your cousins. Can you beat your score?</h1>
            </div>

        </div>
    </div>
</div>