<div class="container-fluid">
    <div class="container-fluid">
        <div class="flexThis">
            <h1>The Cousin Memory Game</h1>
            <h1>Found Pairs: {{$ctrl.pairs}}</h1>
            <bbutton type="button" class="btn btn-danger btn-lg" ng-click=$ctrl.resetGame()>RESET GAME</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="flexThis text-center ">

            <div class="flip" ng-repeat="card in $ctrl.deck track by $index" ng-show="!$ctrl.victory">
                <div class="card" ng-class="{'flipped':card.show}" ng-click="$ctrl.selectCard(card)">
                    <div class="face front">
                        <h2>Cousin Memory</h2>
                        <i class="fa fa-question" aria-hidden="true"></i>
                    </div>
                    <div class="face back">
                        <h3>{{card.name}}</h3>
                        <img ng-src="{{card.url}}" height="180" alt="{{card.name}}">
                    </div>
                </div>
            </div>

            <div ng-show="$ctrl.victory">
                <h1><b>YOU WON!</b></h1> 
                <h1>It took you {{$ctrl.attempts}} tries to find all your cousins. Can you beat your score?</h1>
            </div>

        </div>
    </div>
</div>